body {
	background-color: WhiteSmoke;
	color: Black;
	font-family: 'Balsamiq Sans', cursive;
}

h1 {
	color: Blue;
}

header {
	background-color: DimGrey;
	color: White;
}

section {
	background-color: Purple;
	color: White;
}

footer {
	background-color: Black;
	color: White;
}
